In [7]:
import pandas as pd
data = {
    'Order ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Product': ['Laptop', 'Smartphone', 'Tablet', 'Laptop', 'Monitor', 'Keyboard', 'Mouse', 'Smartphone'],
    'Quantity': [1, 2, 3, 1, 2, 5, 10, 1],
    'Price': [1200, 800, 300, 1300, 200, 50, 20, 900]
}
df = pd.DataFrame(data)
print(df)

   Order ID     Product  Quantity  Price
0       101      Laptop         1   1200
1       102  Smartphone         2    800
2       103      Tablet         3    300
3       104      Laptop         1   1300
4       105     Monitor         2    200
5       106    Keyboard         5     50
6       107       Mouse        10     20
7       108  Smartphone         1    900

In [8]:
df['Total Sale'] = df['Quantity'] * df['Price']
print(df)

   Order ID     Product  Quantity  Price  Total Sale
0       101      Laptop         1   1200        1200
1       102  Smartphone         2    800        1600
2       103      Tablet         3    300         900
3       104      Laptop         1   1300        1300
4       105     Monitor         2    200         400
5       106    Keyboard         5     50         250
6       107       Mouse        10     20         200
7       108  Smartphone         1    900         900

In [9]:
filtered_df = df[df['Total Sale'] > 1000]
print(df)

   Order ID     Product  Quantity  Price  Total Sale
0       101      Laptop         1   1200        1200
1       102  Smartphone         2    800        1600
2       103      Tablet         3    300         900
3       104      Laptop         1   1300        1300
4       105     Monitor         2    200         400
5       106    Keyboard         5     50         250
6       107       Mouse        10     20         200
7       108  Smartphone         1    900         900

In [10]:
most_sold = df.groupby('Product')['Quantity'].sum().sort_values(ascending=False)
print(df)

   Order ID     Product  Quantity  Price  Total Sale
0       101      Laptop         1   1200        1200
1       102  Smartphone         2    800        1600
2       103      Tablet         3    300         900
3       104      Laptop         1   1300        1300
4       105     Monitor         2    200         400
5       106    Keyboard         5     50         250
6       107       Mouse        10     20         200
7       108  Smartphone         1    900         900

In [11]:
def calculate_discount(sale):
    if sale > 2000:
        return 0.15
    elif sale > 1000:
        return 0.10
    else:
        return 0.05
df['Discount'] = df['Total Sale'].apply(calculate_discount)
print(df)

   Order ID     Product  Quantity  Price  Total Sale  Discount
0       101      Laptop         1   1200        1200      0.10
1       102  Smartphone         2    800        1600      0.10
2       103      Tablet         3    300         900      0.05
3       104      Laptop         1   1300        1300      0.10
4       105     Monitor         2    200         400      0.05
5       106    Keyboard         5     50         250      0.05
6       107       Mouse        10     20         200      0.05
7       108  Smartphone         1    900         900      0.05

In [12]:
df.to_excel('sales_summary.xlsx', index=False)
df.to_excel('sales_summary.xlsx', index=False)
print("Excel file 'sales_summary.xlsx' created successfully.")

Excel file 'sales_summary.xlsx' created successfully.